In [1]:
import pandas as pd
import numpy as np

In [10]:
produtos = {
    "id" : [100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110],
    "nome" : ["Mouse", "Teclado", "Monitor", "Gabinete", "Mem√≥ria RAM", "HD", "SSD", "Mousepad", "Cadeira", "Globo", "Fone"],
    "preco" : [80, 120, 600, 450, 300, 200, 150, 100, 50, 25, 10]
}

df_produtos = pd.DataFrame(produtos)

df_produtos.to_csv('produtos_dic.csv', index=False)
df_produtos.describe()

               id       preco
count   11.000000   11.000000
mean   105.000000  189.545455
std      3.316625  188.101762
min    100.000000   10.000000
25%    102.500000   65.000000
50%    105.000000  120.000000
75%    107.500000  250.000000
max    110.000000  600.000000

In [9]:
df_clientes = pd.read_json('datasets//clientes_json.json')
df_clientes.describe()

           id
count     3.0
mean   1002.0
std       1.0
min    1001.0
25%    1001.5
50%    1002.0
75%    1002.5
max    1003.0

In [19]:
df_produtos.to_json('datasets//produtos_json.json', indent=4)