In [29]:
import pandas as pd

In [30]:
df_clamed = pd.read_csv(r'C:\Users\marco\Downloads\dataset_clamed.csv')

In [31]:
# Remover duplicadas
df_clamed.drop_duplicates(inplace=True)

# Preencher valores ausentes em 'preco', 'quantidade_estoque' e 'fornecedor'
df_clamed.fillna({'preco': df_clamed['preco'].mean().round(2), 'quantidade_estoque': 1, 'fornecedor' : 'Não informado'}, inplace=True)

In [32]:
# Função para remover outliers usando o método de Tukey
def remover_outliers_tukey(df, coluna):
    Q1 = df[coluna].quantile(0.25)
    Q3 = df[coluna].quantile(0.75)
    IQR = Q3 - Q1
    limite_inferior = Q1 - 1.5 * IQR
    limite_superior = Q3 + 1.5 * IQR
    return df[
        (df[coluna] >= limite_inferior) &
        (df[coluna] <= limite_superior)
    ]

# Usando a função nas colunas 'preco' e 'quantidade_estoque'
df_clamed = remover_outliers_tukey(df_clamed, 'preco')
df_clamed = remover_outliers_tukey(df_clamed, 'quantidade_estoque')

In [33]:
# Fazendo a normalização dos dados usando o Min-Max

preco_min = df_clamed['preco'].min()
preco_max = df_clamed['preco'].max()
df_clamed['preco_norm'] = (df_clamed['preco'] - preco_min) / (preco_max - preco_min)

In [34]:
df_clamed

,id_produto,nome_produto,categoria,preco,quantidade_estoque,fornecedor,preco_norm
0,74,Produto_74,Higiene,408.65,81.0,Neo Química,0.617979
1,19,Produto_19,Medicamento,218.81,130.0,Neo Química,0.325359
2,119,Produto_119,Veterinário,446.82,92.0,Hypera,0.676814
3,79,Produto_79,Veterinário,182.44,177.0,EMS,0.269298
4,77,Produto_77,Beleza,386.78,10.0,Neo Química,0.584268
...,...,...,...,...,...,...,...
145,72,Produto_72,Beleza,656.49,127.0,Neo Química,1.000000
146,107,Produto_107,Medicamento,208.14,151.0,Eurofarma,0.308912
147,15,Produto_15,Infantil,95.00,1.0,Nestlé,0.134518
148,93,Produto_93,Higiene,381.59,139.0,Unilever,0.576269
149,103,Produto_103,Infantil,160.61,151.0,Hypera,0.235650

In [35]:
df_clamed.to_csv('dados_limpos.csv',index=False)