In [5]:
import pandas as pd
import numpy as np

In [38]:
s = pd.Series(np.random.randn(5), index=list("abcde"))

s
# s.index

a    2.273407
b   -1.343202
c   -1.120836
d   -0.094675
e   -0.496415
dtype: float64

In [39]:
# Construção da Series sem especificação dos index

pd.Series(np.random.randn(5), name="Valores")

0   -1.292121
1   -0.541474
2   -1.620621
3    0.089536
4   -1.913249
Name: Valores, dtype: float64

In [40]:
x_dict = {
    "a": [2.0, 3.0, 4.0, 1.0],
    "b": (3.0, 1.0, "Teste", 1),
    "c": {"a": 1, "b": 2, "c": 3},
    "d": 5.0,
    "e": 6.0
}

pd.Series(x_dict, name="Valores", index=list("abcde"))

a        [2.0, 3.0, 4.0, 1.0]
b        (3.0, 1.0, Teste, 1)
c    {'a': 1, 'b': 2, 'c': 3}
d                         5.0
e                         6.0
Name: Valores, dtype: object

In [41]:
pd.Series("teste", index = ["a", "b", "c", "d", "e"])

a    teste
b    teste
c    teste
d    teste
e    teste
dtype: object

In [50]:
# Printando os dois primeiros elementos (0:2 com o 2 não incluso)
print(s.iloc[:2])

# Printando os três primeiros elementos ("a":"b" com o "b" incluso)
print(s.loc["a":"c"])

a    2.273407
b   -1.343202
dtype: float64
a    2.273407
b   -1.343202
c   -1.120836
dtype: float64

In [52]:
s.dtype

dtype('float64')

In [59]:
s_new = pd.Series(np.random.randn(10), name="taxas")

s_new.rename("Novas Taxas")

0    0.362936
1    0.617015
2    1.452905
3    2.496591
4    0.654468
5    0.263829
6    0.760207
7   -0.380423
8   -0.962346
9   -0.181892
Name: Novas Taxas, dtype: float64

In [72]:
# Criando um DataFrame

data = {
    'Produto': ['Mouse', 'Teclado', 'Monitor', 'Gabinete', 'Memória RAM'],
    'Preço': [80, 120, 600, 450, 300],
    'Estoque': [10, 20, 15, 5, 25]
}

list = ["a", "b", "c", "d", "e"]
#df = pd.DataFrame(data, index = list)

df = pd.DataFrame(data, index = ["a", 6, "f", "18", 3.0])

df
#df.index
#df.columns

         Produto  Preço  Estoque
a          Mouse     80       10
6        Teclado    120       20
f        Monitor    600       15
18      Gabinete    450        5
3.0  Memória RAM    300       25

In [79]:
df.shape
df.index
df.columns
df.info()
df.describe()
df.head()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, a to 3.0
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Produto  5 non-null      object
 1   Preço    5 non-null      int64
 2   Estoque  5 non-null      int64
dtypes: int64(2), object(1)
memory usage: 160.0+ bytes

         Produto  Preço  Estoque
a          Mouse     80       10
6        Teclado    120       20
f        Monitor    600       15
18      Gabinete    450        5
3.0  Memória RAM    300       25

In [90]:
# É possível usar funções como mean, max, min, std, sum, count, median e var na coluna especificando ela
df['Preço'].mean()

np.float64(48200.0)

### Leitura e escrita de arquivos

In [101]:
# Leitura de arquivos csv
vendas = pd.read_csv("vendas.csv")
vendas.head()

   id_venda  id_produto  quantidade  data_venda         filial
0       101           1           3  2025-10-01  Florianópolis
1       102           3           2  2025-10-02      Joinville
2       103          10           1  2025-10-02       Blumenau
3       104           2           5  2025-10-03        Chapecó
4       105           5           2  2025-10-05      Joinville

In [99]:
# Leitura de arquivo json
produtos = pd.read_json("produtos.json")
produtos.head()

,empresa,categoria,produtos
0,Clamed,Higiene e Cuidados Pessoais,"{'id': 1, 'nome': 'Shampoo Nutritivo', 'preco'..."
1,Clamed,Higiene e Cuidados Pessoais,"{'id': 2, 'nome': 'Sabonete Vegetal', 'preco':..."
2,Clamed,Higiene e Cuidados Pessoais,"{'id': 3, 'nome': 'Creme Dental Fresh', 'preco..."
3,Clamed,Higiene e Cuidados Pessoais,"{'id': 4, 'nome': 'Desodorante Roll-On', 'prec..."
4,Clamed,Higiene e Cuidados Pessoais,"{'id': 5, 'nome': 'Condicionador Revitalizante..."