In [1]:
import pandas as pd

In [16]:
clientes = pd.read_csv("files/clientes.csv")
clientes.head()

   id_produto            nome    categoria   preco
0         201  Fone Bluetooth  Eletrônicos   199.9
1         202  Notebook Gamer  Eletrônicos  4999.0
2         203    Livro Python       Livros    89.9
3         204   Cadeira Gamer       Móveis   799.0
4         205      Smartphone  Eletrônicos  2999.0

In [ ]:
pedidos = pd.read_csv("files/pedidos.csv")
pedidos.head()

   id_pedido  id_cliente data_pedido  valor_total
0        101           1  2025-09-01        320.5
1        102           2  2025-09-03        780.0
2        103           3  2025-09-05        150.0
3        104           4  2025-09-07        540.9
4        105           5  2025-09-10        220.0

In [ ]:
produtos = pd.read_csv("files/produtos.csv")
produtos.head()

   id_produto            nome    categoria   preco
0         201  Fone Bluetooth  Eletrônicos   199.9
1         202  Notebook Gamer  Eletrônicos  4999.0
2         203    Livro Python       Livros    89.9
3         204   Cadeira Gamer       Móveis   799.0
4         205      Smartphone  Eletrônicos  2999.0

In [22]:
print("\nClientes info:")
clientes.info()
print(f"Null: \n{clientes.isnull().sum()}")

print("\nPedidos info:")
pedidos.info()
print(f"Null: \n{pedidos.isnull().sum()}")

print("\nProdutos info:")
produtos.info()
print(f"Null: \n{produtos.isnull().sum()}")

Clientes info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id_cliente  10 non-null     int64
 1   nome        10 non-null     object
 2   idade       10 non-null     int64
 3   cidade      10 non-null     object
dtypes: int64(2), object(2)
memory usage: 452.0+ bytes
Null:
id_cliente    0
nome          0
idade         0
cidade        0
dtype: int64

Pedidos info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id_pedido    10 non-null     int64
 1   id_cliente   10 non-null     int64
 2   data_pedido  10 non-null     object
 3   valor_total  10 non-null     float64
dtypes: float64(1), int64(2), object(1)
memory usage: 452.0+ bytes
Null:
id_pedido      0
id_cliente     0
data_pedido    0
valor_total    0
dtype: int64

Produtos info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id_produto  10 non-null     int64
 1   nome        10 non-null     object
 2   categoria   10 non-null     object
 3   preco       10 non-null     float64
dtypes: float64(1), int64(1), object(2)
memory usage: 452.0+ bytes
Null:
id_produto    0
nome          0
categoria     0
preco         0
dtype: int64

In [23]:
print("Descrição clientes:\n", clientes.describe())
print("Descrição pedidos:\n", pedidos.describe())
print("Descrição produtos:\n", produtos.describe())

Descrição clientes:
        id_cliente      idade
count    10.00000  10.000000
mean      5.50000  33.300000
std       3.02765   6.650814
min       1.00000  25.000000
25%       3.25000  28.250000
50%       5.50000  32.000000
75%       7.75000  37.250000
max      10.00000  45.000000
Descrição pedidos:
        id_pedido  id_cliente  valor_total
count   10.00000    10.00000     10.00000
mean   105.50000     5.50000    508.14000
std      3.02765     3.02765    364.60488
min    101.00000     1.00000    150.00000
25%    103.25000     3.25000    242.50000
50%    105.50000     5.50000    375.25000
75%    107.75000     7.75000    720.22500
max    110.00000    10.00000   1200.00000
Descrição produtos:
        id_produto        preco
count    10.00000    10.000000
mean    205.50000   974.630000
std       3.02765  1677.374824
min     201.00000    39.900000
25%     203.25000    82.400000
50%     205.50000   164.900000
75%     207.75000   686.725000
max     210.00000  4999.000000